<div class="business-card" ontouchstart="this.classList.toggle('hover');">
  <div class="flipper">
    <div class="front">

      <div class="name">
        <span class="full-name"><%=name%></span>
        <span class="title"><%=position%></span>
      </div>
    </div>
    <div class="back">
      
      <div class="container-lg">
        <ul class="social fa-ul">
          <!-- <li>
            <a href="//greghay.es">
              <i class="fa fa-li fa-globe"></i>
              Website
            </a>
          </li> -->
          <li>
            <a href="mailto:<%=email%>">
              <i class="fa fa-li fa-envelope"></i>
              <%=email%>
            </a>
          </li>
          <li>
            <a>
              <i class="fa fa-li fa-phone"></i>
              <%=phone%>
            </a>
          </li>
          <!-- <li>
            <a href="//github.com/thegodshatetexas">
              <i class="fa fa-li fa-github"></i>
              GitHub
            </a>
          </li> -->
          <!-- <li>
            <a href="//codepen.io/thegodshatetexas">
              <i class="fa fa-li fa-codepen"></i>
              CodePen
            </a>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
</div>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
