<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <%- include('../partials/head') %>
  <link rel="stylesheet" href="/css/contact-us.css">
  <style media="screen">

  </style>
</head>
<body>

  <%- include ../partials/nav_top.ejs %>
  <main id="contact-us-page" class="container-fluid">
<h1>Contact Us</h1>
  <div class="row">
    <div class="column col-md-6">
      <div class="contact-card">
        <%- include('../partials/contact-card.ejs',{name: 'Aditya Vashist', position: 'President', phone: '+91-9873301371',email: 'vashist.aditya@gmail.com'}) %>
      </div>

    </div>
    <div class="column col-md-6">
      <div class="contact-card">
        <%- include('../partials/contact-card.ejs',{name: 'Kavya Garg', position: 'Cultural Secretary', phone: '+91-8800660362',email: 'Kavii.garg@gmail.com'}) %>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="column col-md-6">
      <div class="contact-card">
        <%- include('../partials/contact-card.ejs',{name: 'Ikluvya Mehta', position: 'Vice President', phone: '+91-989961909',email: 'ikluvya@yahoo.co.in'}) %>
      </div>

    </div>
    <div class="column col-md-6">
      <div class="contact-card">
        <%- include('../partials/contact-card.ejs',{name: 'Muskan Gupta', position: 'Vice President', phone: '+91-9999730221',email: 'muskangupta906@gmail.com'}) %>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="column col-md-6">
      <div class="contact-card">
        <%- include('../partials/contact-card.ejs',{name: 'Khyati Aggarwal', position: 'Vice President', phone: '+91-9717100336',email: 'khyatiaggarwal1998@gmail.com'}) %>
      </div>

    </div>


  </div>
  











  </main>
  <%- include ../partials/nav_bottom.ejs %>

</body>
<script type="text/javascript">
  $('.card').click(function(){
    $(this).toggleClass('flipped');
  });
</script>
</html>
