<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <%- include('../partials/head') %>
  <link rel="stylesheet" href="/css/contact-us.css">
  <style media="screen">

  </style>
</head>
<body>
  <%- include ../partials/preloader.ejs %>
  <%- include ../partials/nav_top.ejs %>
  <main id="contact-us-page" class="container-fluid">
<h1>Contact Us</h1>
  <div class="row">
    <div class="column col-md-6">
      <div class="contact-card">
        <%- include('../partials/contact-card.ejs',{name: 'Aditya Vashist', position: 'President', phone: '+91-9873301371',email: 'vashist.aditya@gmail.com'}) %>
      </div>

    </div>
    <div class="column col-md-6">
      <div class="contact-card">
        <%- include('../partials/contact-card.ejs',{name: 'Kavya Garg', position: 'Cultural Secretary', phone: '+91-8800660362',email: 'Kavii.garg@gmail.com'}) %>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="column col-md-6">
      <div class="contact-card">
        <%- include('../partials/contact-card.ejs',{name: 'Ikluvya Mehta', position: 'Web Designer', phone: '+91-989961909',email: 'ikluvya@yahoo.co.in'}) %>
      </div>

    </div>
    <div class="column col-md-6">
      <div class="contact-card">
        <%- include('../partials/contact-card.ejs',{name: 'Muskan Gupta', position: 'Web Designer', phone: '+91-9999730221',email: 'muskangupta906@gmail.com'}) %>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="column col-md-6">
      <div class="contact-card">
        <%- include('../partials/contact-card.ejs',{name: 'Khyati Aggarwal', position: 'Vice President', phone: '+91-9717100336',email: 'khyatiaggarwal1998@gmail.com'}) %>
      </div>

    </div>
    <div class="column col-md-6">
      <div class="contact-card">
        <%- include('../partials/contact-card.ejs',{name: 'Moksh Sachdeva', position: 'Marketing head and Treasurer', phone: '+91-9711113392',email: 'sachdevamoksh1998@gmail.com'}) %>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="column col-md-6">
      <div class="contact-card">
        <%- include('../partials/contact-card.ejs',{name: 'Usama Sajid', position: 'Technical Head and Head of Operations', phone: '+91-9837044952',email: 'usamasajid53@gmail.com'}) %>
      </div>

    </div>
    <div class="column col-md-6">
      <div class="contact-card">
        <%- include('../partials/contact-card.ejs',{name: 'Hritik Sethi', position: 'General Secretary', phone: '+91-9818977383',email: 'hritiksethi2016@gmail.com'}) %>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="column col-md-6">
      <div class="contact-card">
        <%- include('../partials/contact-card.ejs',{name: 'Sanchit Gupta', position: 'General Secretary', phone: '+91-9540605358',email: 'sanchit.gupta911@gmail.com'}) %>
      </div>

    </div>
    <div class="column col-md-6">
      <div class="contact-card">
        <%- include('../partials/contact-card.ejs',{name: 'Anoushka Gupta', position: 'Joint Secretary', phone: '+91-9811282244',email: 'anoushka2798@gmail.com'}) %>
      </div>

    </div>
  </div>


  <div class="row">
    <div class="column col-md-6">
      <div class="contact-card">
        <%- include('../partials/contact-card.ejs',{name: 'Akriti Ahluwalia', position: 'Joint Secretary', phone: '+91-9810107829',email: 'akritiahluwalia09@gmail.com'}) %>
      </div>

    </div>
    <div class="column col-md-6">
      <div class="contact-card">
        <%- include('../partials/contact-card.ejs',{name: 'Bharti Bedi', position: 'Creative Head', phone: '+91-9599032727',email: 'dpsbhartibedi@gmail.com'}) %>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="column col-md-6">
      <div class="contact-card">
        <%- include('../partials/contact-card.ejs',{name: 'Niharika Srivastava', position: 'Creative Head', phone: '+91-8826340673',email: 'niharikasrivastava616@gmail.com'}) %>
      </div>

    </div>
    <div class="column col-md-6">
      <div class="contact-card">
        <%- include('../partials/contact-card.ejs',{name: 'Nandani Jain', position: 'Media and PR Head', phone: '+91-7982488003',email: 'nandanijain2@gmail.com'}) %>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="column col-md-6">
      <div class="contact-card">
        <%- include('../partials/contact-card.ejs',{name: 'Bhuvnesh Rai Auplish', position: 'Logistics Head', phone: '+91-8437314679',email: 'bhuvnesh0410@gmail.com'}) %>
      </div>

    </div>

  </div>











  </main>
  <%- include ../partials/nav_bottom.ejs %>

</body>
<script type="text/javascript">
  $('.card').click(function(){
    $(this).toggleClass('flipped');
  });
</script>
</html>
